.bg-fixed {
    background-attachment: fixed;
}
.brepeat {
    background-repeat: repeat;
}
.brepeat-x {
    background-repeat: repeat-x;
}
.brepeat-y {
    background-repeat: repeat-y;
}


.bsize-cover {
    background-size: cover;
}
.bsize-contain {
    background-size: contain;
}
.bsize-max {
    background-size: 100% 100%;
}
.bsize-max-h {
    background-size: auto 100%;
}
.bsize-max-w {
    background-size: 100% auto;
}

.bg-fixed {
    background-attachment: scroll;
}


// 九宫格背景图定位
.bpos-1 {
    background-position: 0 0;
}
.bpos-2 {
    background-position: center 0;
}
.bpos-3 {
    background-position: 100% 0;
}
.bpos-4 {
    background-position: 0 center;
}
.bpos-5 {
    background-position: center;
}
.bpos-6 {
    background-position: 100% center;
}
.bpos-7 {
    background-position: 0 100%;
}
.bpos-8 {
    background-position: center 100%;
}
.bpos-9 {
    background-position: 100% 100%;
}


.round {
    border-radius: 50%;                         // 50% 圆角
}
.round-max {                                     // 999px 超大圆角
    border-radius: 999px;  
}
.round-lg {                                     // 24px 大圆角
    border-radius: 24px;  
}
.round-md {                                     // 10px 中等圆角
    border-radius: 10px;  
}
.round-sm {                                     // 4px 小型圆角
    border-radius: 4px;  
}
.round-none {                                   // 无圆角
    border-radius: 0px;     
}


.round-t {                                      // 上侧圆角
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.round-b {                                      // 下侧圆角
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.round-l {                                      // 左侧圆角
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.round-r {                                      // 右侧圆角
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.round-1 {                                      // 左上圆角
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.round-2 {                                      // 右上圆角
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.round-3 {                                      // 左下圆角
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.round-4 {                                      // 右下圆角
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}


.solid {                                         // 四周实线描边
    border-style: solid;
}
.solid-l {                                       // 左实线描边
    border-left-style: solid;
}
.solid-r {                                       // 右实线描边
    border-right-style: solid;
}
.solid-t {                                       // 上实线描边
    border-top-style: solid;
}
.solid-b {                                       // 下实线描边
    border-bottom-style: solid;
}
.solid-l-none {                                  // 无左描边
    border-left-style: none;
}
.solid-r-none {                                  // 无右描边
    border-right-style: none;
}
.solid-t-none {                                 // 无上描边
    border-top-style: none;
}
.solid-b-none {                                 // 无下描边
    border-bottom-style: none;
}
.dashed {                                       // 四周虚线描边
    border-style: dashed;
}
.dashed-l {                                     // 左虚线描边
    border-left-style: dashed;
}
.dashed-r {                                     // 右虚线描边
    border-right-style: dashed;
}
.dashed-t {                                     // 上虚线描边
    border-top-style: dashed;
}
.dashed-b {                                     // 下虚线描边
    border-bottom-style: dashed;
}
.line-outside {                                 // 外侧描边范围
    background-clip: padding-box;
}

// 描边粗细
$thicks: 1 2 4 6 8 10;
@each $thick in $thicks {
    .thick-#{$thick} {
        border-width: #{$thick}px;
    }
}

// 文字描边
.text-line {
    text-shadow: 
    1px 0 0 rgba(200, 200, 200, .5), 
    -1px 0 0 rgba(200, 200, 200, .5), 
    0 1px 0 rgba(200, 200, 200, .5),
    0 -1px 0 rgba(200, 200, 200, .5);
}

// 阴影
.shadow {
    box-shadow: 0 4px 17px;
}
.shadow-no {
    box-shadow: none;
}
.shadow-sm {
    box-shadow: 0 2px 4px;
}
.shadow-lg {
    box-shadow: 0 14px 40px;
}
.shadow-relief {
    box-shadow: 1px 1px 0 rgba(0,0,0,.7) inset, 1px 1px 0 rgba(255,255,255,.4);
}

// 生成三角形
%default-border {
    position: relative;
    border: 4px solid transparent;
    height: 0;
    width: 0;
    display: inline-block;
}
%v-border {
    border-top-width: 3px;
    border-bottom-width: 3px;
}
%h-border {
    border-left-width: 3px;
    border-right-width: 3px;
}
$dirs: (l left), (r right), (t top), (b bottom);
@each $dir in $dirs {
    .triangle-#{nth($dir, 1)} {
        @extend %default-border; 
        border-#{nth($dir, 2)}-color: inherit;
        @if nth($dir, 1) == l{
            @extend %v-border;
            left: 4px; 
        }@else if nth($dir, 1) == r{
            @extend %v-border;
            right: 4px;
        }@else if nth($dir, 1) == t{
            @extend %h-border;
            top: 4px;
        }@else {
            @extend %h-border;
            bottom: 4px;
        }
    }
}

// 模糊滤镜
.blur-no { filter: blur(0px) }
.blur-sm { filter: blur(2px) }
.blur-md { filter: blur(7px) }
.blur-lg { filter: blur(17px) }

// 明度滤镜
.dark-no { filter: brightness(100%) }
.dark-sm { filter: brightness(80%) }
.dark-md { filter: brightness(50%) }
.dark-lg { filter: brightness(20%) }

// 纯度滤镜
.gray-no { filter: grayscale(0%) }
.gray-sm { filter: grayscale(40%) }
.gray-md { filter: grayscale(70%) }
.gray-lg { filter: grayscale(100%) }