@import "./scroll.scss";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //高亮颜色透明
    -webkit-overflow-scrolling: touch;
    background-repeat: no-repeat;
    background-origin: border-box;
}

html {
    font-size: 11.5px;
    height: 100%;
    letter-spacing: 1px;
}
@media only screen and (max-width: 740px){
    html {
        letter-spacing: 0px;
    }
}

body {
    font-size: 1rem;
    font-family: "微软雅黑", Arial;
    line-height: 1.5;
    color: #373737;
    height: 100%;
} 

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

ol {
    list-style-position: inside;
}

img {
    max-width: 100%;
}

video, audio {
    display: block;
    width: 100%;
    object-fit: fill;
    outline: none;
}

input[type="text"], input[type="password"], input[type="number"], textarea, select, option,
select:hover, option:hover{
    outline: none;
    box-shadow: none;
    border: none;
    width: 100%;
    resize: none;
    font-family: "微软雅黑", Arial;
    -webkit-appearance: none; //ios下移除原生样式

    &::placeholder{
        opacity: .4;
        font-size: .9em;
        color: inherit;
    }
}

input[type="text"], input[type="password"], input[type="number"], textarea {
    &:focus, &:active, &:hover {
        outline: none;
        box-shadow: none;
    }
}

textarea {
    display: block;
}

button{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

pre {
    line-height: 1.5;
    font-size: 1.14rem;
}

iframe {
    border: none;
    display: block;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(130,130,130,.15);
    margin: 1.4rem 0;
}

p{
    margin: 1.4em 0;

    &:empty {
        height: 1.4em;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

article {
    font-size: 1.2rem;
    line-height: 1.7;

    //编辑模式
    &[contenteditable]{
        border: none;
        outline: none;
    }

    h1, h2, h3, h4, h5, h6{
        margin-bottom: 1em;
    }
    ol, ul{
        margin-bottom: 1.4em;
    }
}

i {
    display: inline-block;
}

abbr {
    text-decoration: none;
}

code {
    background-color: #f9f2f4;
    color: #c7254e;
    font-family: Consolas !important;
    padding: 2px 6px;
    margin: 0 2px;
    border-radius: 4px;
    word-break: break-all;
}