.ani {                                //中速过度动画
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
}

.ani-fast {                           //快速过度动画
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.ani-slow {                           //慢速过度动画
    -webkit-transition: all 1.4s;
    -moz-transition: all 1.4s;
    transition: all 1.4s;
}

//淡入动画
.ani-fade-in{
    animation: fadeIn .54s; 
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}

//由小到大淡入动画
.ani-scale-fade-in{
    animation: scaleFadeIn .54s;
}
@-webkit-keyframes scaleFadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    to{
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes scaleFadeIn {
    from {
        opacity: 0;
        -moz-transform: scale(0);
    }
    to{
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@keyframes scaleFadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

//滑动动画（由左向右）
.ani-left-slider-to-right{
    animation: aniLeftSliderToRight .54s;
}
@-webkit-keyframes aniLeftSliderToRight {
    from {
        -webkit-transform: translateX(-100%);
    }
    to{
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes aniLeftSliderToRight {
    from {
        -moz-transform: translateX(-100%);
    }
    to{
        -moz-transform: translateX(0%);
    }
}
@keyframes aniLeftSliderToRight {
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

//滑动动画（由右向左）
.ani-right-slider-to-left{
    animation: aniRightSliderToLeft .54s;
}
@-webkit-keyframes aniRightSliderToLeft {
    from {
        -webkit-transform: translateX(100%);
    }
    to{
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes aniRightSliderToLeft {
    from {
        -moz-transform: translateX(100%);
    }
    to{
        -moz-transform: translateX(0%);
    }
}
@keyframes aniRightSliderToLeft {
    from {
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

//滑动动画（由上向下）
.ani-top-slider-to-bottom{
    animation: aniTopSliderToBottom .54s;
}
@-webkit-keyframes aniTopSliderToBottom {
    from {
        -webkit-transform: translateY(-100%);
    }
    to{
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes aniTopSliderToBottom {
    from {
        -moz-transform: translateY(-100%);
    }
    to{
        -moz-transform: translateY(0%);
    }
}
@keyframes aniTopSliderToBottom {
    from {
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

//滑动动画（由下向上）
.ani-bottom-slider-to-top{
    animation: aniBottomSliderToTop .54s;
}
@-webkit-keyframes aniBottomSliderToTop {
    from {
        -webkit-transform: translateY(100%);
    }
    to{
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes aniBottomSliderToTop {
    from {
        -moz-transform: translateY(100%);
    }
    to{
        -moz-transform: translateY(0%);
    }
}
@keyframes aniBottomSliderToTop {
    from {
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}