article {
    font-size: 1.34rem;
    line-height: 2;

    p, ul, dl, ol{
        margin-bottom: 1.5em;
        text-indent: 2em;
        color: #555;
    }
    img {
        display: inline-block;

        &:first-of-type {
            position: relative;
            left: -2em;
        }
    }
    p{
        font-size: inherit;
    }
    h2, h3, h4, h5, h6{
        margin-bottom: 1.7em;
        margin-top: 2.4em;
        font-weight: bold;
    }
    ul li {
        margin-bottom: 1.4em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    dl{
        dt{
            font-weight: bolder;
            margin-bottom: 0.7em;
        }
        dd {
            opacity: 0.8;
            margin-bottom: 0.7em;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    hr {
        display: block;
        height: 1px;
        margin: 2.4rem 0;
        background: none;
        border: none;
        border-bottom: 1px solid rgba(140, 140, 140, 0.24);
    }

    //编辑模式
    &[contenteditable]{
        border: none;
        background: none;
        outline: none;
        box-shadow: none;
        font-size: 1.4rem;
    }
}