$main-color: #051c24;                   //主题色-遂蓝

$sub-color: #b4967a;                    //辅助色-锡金

$light: #fff;                           //纯白

$dark: #111;                            //纯黑

$deep-gray: #373737;                    //深灰

$middle-gray: #a7a7a7;                  //中灰

$light-gray: #eee;                      //浅灰

$blue: #4085f3;                         //湛蓝

$red: #ec4334;                          //玫红

$green: #02b9a1;                        //青绿

$yellow: #fdba00;                       //橙黄

$neutral: rgba(154,154,154,.27);        //中性色

//主题色-遂蓝
.main-color{
    color: $main-color;
}     
.main-bg{
    background-color: $main-color;
}

//辅助色-锡金
.sub-color{
    color: $sub-color;
}
.sub-bg{
    background-color: $sub-color;
}


//生成色彩（文字、填充、描边）
$colors: (light $light), (dark $dark), (deep-gray $deep-gray), (middle-gray $middle-gray), (light-gray $light-gray), (blue $blue), (green $green), (yellow $yellow), (red $red), (neutral, $neutral);
@each $color in $colors{
    .#{nth($color, 1)}{
        color: nth($color, 2);
    }     
    .#{nth($color, 1)}-bg{
        background-color: nth($color, 2);
    }
}


//生成不透明度阶梯
@for $i from 0 to 10{
    .alpha-#{$i} {
        opacity: $i / 10;
    }
}