.flex{
    display: flex;
}

.flex-grow{
    flex-grow: 1;
    flex-basis: 0;
}

.flex-column{
    @extend .flex; 
    flex-direction: column;
}

//对齐方式

.flex-layout-center{                    //主轴居中
    @extend .flex;
    justify-content: center;
}
.flex-layout-middle{                    //侧轴居中
    @extend .flex;
    align-items: center;
}
.flex-center{                           //主轴及侧轴居中
    @extend .flex;
    justify-content: center;
    align-items: center;
}
.flex-layout-spread{                    //主轴均分两端对齐
    @extend .flex;
    justify-content: space-between;
}