//PC端 
.grid {
    display: flex;
    flex-wrap: wrap;

    .col-1 {
        width: 8.33333%;
    }
    .col-2 {
        width: 16.66667%;
    }
    .col-2d5 {
        width: 20%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33333%;
    }
    .col-5 {
        width: 41.66667%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33333%;
    }
    .col-8 {
        width: 66.66667%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33333%;
    }
    .col-11 {
        width: 91.66667%;
    }
    .col-12 {
        width: 100%;
    }

    //偏移
    .col-offset-1 {
        margin-left: 8.33333%;
    }
    .col-offset-2 {
        margin-left: 16.66667%;
    }
    .col-offset-2d5 {
        margin-left: 20%;
    }
    .col-offset-3 {
        margin-left: 25%;
    }
    .col-offset-4 {
        margin-left: 33.33333%;
    }
    .col-offset-5 {
        margin-left: 41.66667%;
    }
    .col-offset-6 {
        margin-left: 50%;
    }
    .col-offset-7 {
        margin-left: 58.33333%;
    }
    .col-offset-8 {
        margin-left: 66.66667%;
    }
    .col-offset-9 {
        margin-left: 75%;
    }
    .col-offset-10 {
        margin-left: 83.33333%;
    }
    .col-offset-11 {
        margin-left: 91.66667%;
    }
    .col-offset-12 {
        margin-left: 100%;
    }

}

//平板端
@media only screen and (max-width: 1367px){
    .grid {
        .col-m-1 {
            width: 8.33333%;
        }
        .col-m-2 {
            width: 16.66667%;
        }
        .col-m-2d5 {
            width: 20%;
        }
        .col-m-3 {
            width: 25%;
        }
        .col-m-4 {
            width: 33.33333%;
        }
        .col-m-5 {
            width: 41.66667%;
        }
        .col-m-6 {
            width: 50%;
        }
        .col-m-7 {
            width: 58.33333%;
        }
        .col-m-8 {
            width: 66.66667%;
        }
        .col-m-9 {
            width: 75%;
        }
        .col-m-10 {
            width: 83.33333%;
        }
        .col-m-11 {
            width: 91.66667%;
        }
        .col-m-12 {
            width: 100%;
        }

        //偏移
        .col-m-offset-1 {
            margin-left: 8.33333%;
        }
        .col-m-offset-2 {
            margin-left: 16.66667%;
        }
        .col-m-offset-2d5 {
            margin-left: 20%;
        }
        .col-m-offset-3 {
            margin-left: 25%;
        }
        .col-m-offset-4 {
            margin-left: 33.33333%;
        }
        .col-m-offset-5 {
            margin-left: 41.66667%;
        }
        .col-m-offset-6 {
            margin-left: 50%;
        }
        .col-m-offset-7 {
            margin-left: 58.33333%;
        }
        .col-m-offset-8 {
            margin-left: 66.66667%;
        }
        .col-m-offset-9 {
            margin-left: 75%;
        }
        .col-m-offset-10 {
            margin-left: 83.33333%;
        }
        .col-m-offset-11 {
            margin-left: 91.66667%;
        }
        .col-m-offset-12 {
            margin-left: 100%;
        }
    }
}

//移动端
@media only screen and (max-width: 415px){
    .grid {
        .col-s-1 {
            width: 8.33333%;
        }
        .col-s-2 {
            width: 16.66667%;
        }
        .col-s-2d5 {
            width: 20%;
        }
        .col-s-3 {
            width: 25%;
        }
        .col-s-4 {
            width: 33.33333%;
        }
        .col-s-5 {
            width: 41.66667%;
        }
        .col-s-6 {
            width: 50%;
        }
        .col-s-7 {
            width: 58.33333%;
        }
        .col-s-8 {
            width: 66.66667%;
        }
        .col-s-9 {
            width: 75%;
        }
        .col-s-10 {
            width: 83.33333%;
        }
        .col-s-11 {
            width: 91.66667%;
        }
        .col-s-12 {
            width: 100%;
        }

        //偏移
        .col-s-offset-1 {
            margin-left: 8.33333%;
        }
        .col-s-offset-2 {
            margin-left: 16.66667%;
        }
        .col-s-offset-2d5 {
            margin-left: 20%;
        }
        .col-s-offset-3 {
            margin-left: 25%;
        }
        .col-s-offset-4 {
            margin-left: 33.33333%;
        }
        .col-s-offset-5 {
            margin-left: 41.66667%;
        }
        .col-s-offset-6 {
            margin-left: 50%;
        }
        .col-s-offset-7 {
            margin-left: 58.33333%;
        }
        .col-s-offset-8 {
            margin-left: 66.66667%;
        }
        .col-s-offset-9 {
            margin-left: 75%;
        }
        .col-s-offset-10 {
            margin-left: 83.33333%;
        }
        .col-s-offset-11 {
            margin-left: 91.66667%;
        }
        .col-s-offset-12 {
            margin-left: 100%;
        }
    }
}

//移动端（超小）
@media only screen and (max-width: 231px){
    .grid {
        .col-xs-1 {
            width: 8.33333%;
        }
        .col-xs-2 {
            width: 16.66667%;
        }
        .col-xs-2d5 {
            width: 20%;
        }
        .col-xs-3 {
            width: 25%;
        }
        .col-xs-4 {
            width: 33.33333%;
        }
        .col-xs-5 {
            width: 41.66667%;
        }
        .col-xs-6 {
            width: 50%;
        }
        .col-xs-7 {
            width: 58.33333%;
        }
        .col-xs-8 {
            width: 66.66667%;
        }
        .col-xs-9 {
            width: 75%;
        }
        .col-xs-10 {
            width: 83.33333%;
        }
        .col-xs-11 {
            width: 91.66667%;
        }
        .col-xs-12 {
            width: 100%;
        }

        //偏移
        .col-xs-offset-1 {
            margin-left: 8.33333%;
        }
        .col-xs-offset-2 {
            margin-left: 16.66667%;
        }
        .col-xs-offset-2d5 {
            margin-left: 20%;
        }
        .col-xs-offset-3 {
            margin-left: 25%;
        }
        .col-xs-offset-4 {
            margin-left: 33.33333%;
        }
        .col-xs-offset-5 {
            margin-left: 41.66667%;
        }
        .col-xs-offset-6 {
            margin-left: 50%;
        }
        .col-xs-offset-7 {
            margin-left: 58.33333%;
        }
        .col-xs-offset-8 {
            margin-left: 66.66667%;
        }
        .col-xs-offset-9 {
            margin-left: 75%;
        }
        .col-xs-offset-10 {
            margin-left: 83.33333%;
        }
        .col-xs-offset-11 {
            margin-left: 91.66667%;
        }
        .col-xs-offset-12 {
            margin-left: 100%;
        }
    }
}