//设置内边距 
@mixin set_space($side, $val:0, $dir:all){
    @if $dir == all{
        #{$side}: $val;
    }@else if $dir == v{ //vertical
        #{$side}: {
            top: $val;
            bottom: $val;
        }
    }@else if $dir == h{ //horizontal
        #{$side}: {
            left: $val;
            right: $val;
        }
    }@else{
        #{$side}-#{$dir}: $val;
    }
}
