@import "./initor.scss";  

.fixed {                                //fixed 定位
    position: fixed;
}
 
.relative {                             //相对定位
    position: relative;
}

.absolute {                             //绝对定位
    position: absolute;
}

.container {                            //版心
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &[md]{
        max-width: 960px; 
    }
    &[sm]{
        max-width: 600px;
    }
}

.max-w{                                 //满宽
    width: 100%;
}

.max-h{                                 //满高
    height: 100%;
}

.max{                                   //满屏
    @extend .max-w;
    @extend .max-h;
}

.max-screen{                            //满屏
    @extend .fixed;
    @extend .max;
    left: 0;
    top: 0;
    overflow: hidden;
}

//宽度及高度设置
@include auto_size();

//内、外边距设置
@include auto_gen_space_class();   

//z 轴层级设置
@include auto_gen_z_index();

//放缩比率设置
@include auto_gen_scale();

//微调位移设置
@include auto_gen_offset();

//栅格布局
@import "./flex.scss";

