/*------------------------------------------preset------------------------------------------*/
p {
  font-size: 1.34rem;
}
/*------------------------------------------global------------------------------------------*/
.hide-s {
  display: none !important;
}
.block-s {
  display: block !important;
}
/*------------------------------------------article------------------------------------------*/
article {
  font-size: 1.47rem;
}
/*------------------------------------------栅格系统------------------------------------------*/
.container-640,
.container-960,
.container-1270,
.container-1600 {
  padding: 0 2rem;
}
.col-12-s {
  width: 100%;
}
.col-11-s {
  width: 91.66666667%;
}
.col-10-s {
  width: 83.33333333%;
}
.col-9-s {
  width: 75%;
}
.col-8-s {
  width: 66.66666667%;
}
.col-7-s {
  width: 58.33333333%;
}
.col-6-s {
  width: 50%;
}
.col-5-s {
  width: 41.66666667%;
}
.col-4-s {
  width: 33.33333333%;
}
.col-3-s {
  width: 25%;
}
.col-2d4-s {
  width: 20%;
}
.col-2-s {
  width: 16.66666667%;
}
.col-1-s {
  width: 8.33333333%;
}
