.flex, .flex-column, .flex-row, .flex-layout-center, .flex-layout-middle, .flex-layout-spread {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-layout-center {
  justify-content: center;
}

.flex-layout-middle {
  align-items: center;
}

.flex-layout-spread {
  justify-content: space-between;
}
