a:hover {
  color: #1d93e5;
}
.btx-confirm-widget .btx-confirm-w-btns button:hover {
  background-color: #c7c7c7;
  color: #444;
}
.btx-alert-widget .btx-alert-w-btns button:hover {
  background-color: #c7c7c7;
  color: #444;
}
